<nav>
    <div class="container nav__container navbar-expand-lg">
      <a href="/"><img src="/images/logo2.png" class="logo" alt=""  /></a>
      <div class="cate-dropdown ">
          <button class="btn-radius-trans btn">
            <i class="fa fa-align-justify"  style="color: #a1a7b3"></i>  <a href="catelogies.html">Categories</a>
          </button>
          <div class="dropdown-content">
              <ul>
                  <li>Development</li>
                  <li>Business</li>
                  <li> IT & Softwar</li>
                  <li>Office Productivity</li>
                  <li>Personal Development</li>
              </ul>
          </div>
      </div>
         <!--search bar of website-->
        <div class="search-box">
          <form class="search-container">
            <input type="text" id="search-bar" class="input-area" placeholder="Search for Courses" /><i class="fa fa-search input-logo"></i>
          </form>
        </div>
        
        <div class="cart">
          <a href="cart.html" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a>
        </div>

      <ul class="nav__menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">Q&A</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/contact.html">Contact</a></li> 
        <% if (signedIn && name) { %>
          <li><a> <%= name %> </a></li>
          <li><a href="/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
        <% } %>
        
      </ul>
      <!-- ------------ -->
      <button id="open-menu-btn">
        <i class="fa fa-bars"></i>
      </button>
      <button id="close-menu-btn">
        <i class="fa fa-times"></i>
      </button>
      <!-- ------------ -->
    </div>
  </nav>