<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/play-list.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <title>NodeJs Playlist</title>
  </head>
  <body>
    <section>
      <div class="container container-video">
          <div id="video_player">
            <video controls id="main-Video" src=""></video>
          </div>
        <div class="playlistBx">
          <div class="header">
            <div class="row">
              <span class="AllLessons"></span>
            </div>
          </div>
          <ul class="playlist" id="playlist"></ul>
        </div>
        <div class="bg-w">
          <h2 class="title"></h2>
          <p class="desc"></p>
          <div id="filelist">
          </div>

          <!-- <div>Click to open references</div> -->


        </div>
      </div>
      <button id="end">End course and get the certificate!</button> <!-- Testing purpose only -->
    </section>

    <!-- <script src="/video-list.js"></script> Referrence -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <script>
      var allVideos = [];
      allVideos = JSON.parse('<%- JSON.stringify(data) %>');
      $("#end").click(() => {
        location.href = '/certificate/' + '<%- courseID %>';
      })
    </script>
    <script src="/js/script.js"></script>
  </body>
</html>
