* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* .navbar-brand {
  color: rgba(39, 77, 193, 0.785);
  font-weight: 500;
} */

#nav-bar {
  position: sticky;
  top: 0;
}

.navbar {
  background-image: linear-gradient(to right, #4360d6, #5f17);
  padding: 0 !important;
}
.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.nav-item li {
  padding: 0 10px;
}

.nav-item li a {
  color: #fff !important;
  font-weight: 600;
}

.fa-bars {
  color: #fff;
  font-style: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/* BANNER */
#banner {
  color: #fff;
  padding-top: 3%;
  background-image: linear-gradient(to right, #4360d6, #5f17);
}

.welcom {
  /* color: rgb(80, 31, 240); */
  font-size: 40px;
  font-weight: 700;
  /* color: #7cb58a; */
  font-family: "Lobster", cursive;
}
.d-flex {
  padding-bottom: 10px;
}

.play-btn {
  /* color: black; */
  width: 46px;
  margin: 20px;
}
.img-fluid {
  width: 75%;
}
#banner a {
  color: #fff;
  text-decoration: none;
}

.bottom-img {
  width: 100%;
}

.dropdown-menu li a {
  color: rgb(112, 108, 108) !important;
  font-weight: 400;
}

/* -------------------------SERVICES ---------------------------------- */
#services {
  padding: 80px 0;
}

.service-img {
  width: 100px;
  margin-top: 20px;
}

.services h4 {
  margin-top: 25px;
  padding: 5px;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background-image: linear-gradient(to right, #4360d6, #5f17);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background-color: #4360d6;
  background-image: linear-gradient(to right, #4360d6, #5f17);
  height: 10px;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(8px);
  border-radius: 5%;
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: linear-gradient(to right, #4360d6, #5f17);
}

h1 {
  font-family: "Lobster", cursive;
  /* text-transform: capitalize; */
}
.mleft {
  margin-top: 5px;
  margin-left: 80px;
  /* background: #ccc; */
  border: 2px #000 solid;
  border-radius: 20px;
  color: #000 !important;
}
.mright {
  margin-top: 5px;
  border: 2px transparent solid;
  background: #466bfce4;
  border-radius: 20px;
  margin-left: 15px;
  color: #fff !important;
}
